@import '../../Assets/Styles/theme.css';

.widgetbrowserstats-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* justify-content: space-between;
    align-items: center; */
}
.widgetbrowserstats-row > img{
    width: 30px;
    height: 30px;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.widgetbrowserstats-row > h5{
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.widgetbrowserstats-row:hover {
    background: #f8f9fa;
}
