@import '../../../Assets/Styles/theme.css';

/************************************
       salesdifference
************************************/
.sales-difference-area-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.sales-difference-area-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}

.sales-difference-area-card-title {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    position: relative;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 0;
}
.sales-difference-area-card-title > h5{
    font-weight: 500;
    margin-top: 0;
}
.sales-difference-area-card-contents {
    margin-left: auto;
}
.sales-difference-area-card-contents > ul {
    display: flex;
    margin-left: auto;
    font-size: 12px;
    list-style: none;
}
.list-inline > li {
    margin-right: 10px;
}
.circle-blue {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--cyan);
    margin-right: 10px;
    display: inline-block;
}
.circle-red {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--danger);
    margin-right: 10px;
    display: inline-block;
}