@import '../../Assets/Styles/theme.css';
ul.todo-list {
    padding-left: 15px;
}
.todolist {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-bottom: 0;
}
.todo-list li {
    border: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 10px 15px 0px 0px;
    list-style-type: none;
}


.todo-list li .assignedto {
    padding: 0px 0 0 30px;
    margin: 0px;
}
.todo-list li .assignedto li {
    list-style: none;
    padding: 0px;
    display: inline-block;
    border: 0px;
    margin-right: 2px;
}
.todo-list li .assignedto img {
    border-radius: 100%;
    width: 40px;
}

.todo-list li .item-date {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 32px;
    color: var(--gray);
}
.todo-list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.todo-list-custom-control {
    position: relative;
    display: block;
    min-height: 1.3125rem;
    padding-left: 1.5rem;
    width: 100%;
}
.todo-list-custom-control-input {
    position: absolute;
    margin-left: -18px;
    margin-top: 6px;
    font-size: 30px;
}
.todo-list-custom-control > label {
    display:flex;
    justify-content: space-between;
    font-weight: 400;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.todo-list-custom-control > label > span:first-child {
    width: 70%;
    display: inline-block;
    line-height: 25px;
    font-size: 14px;
}