@import '../../../Assets/Styles/theme.css';

.badge{
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
    font-size: 0.75em;
    line-height: normal;
    border-radius: 30px;
    padding: 0.2em 1em;
    align-items: center;
    vertical-align: center;
}

/************************************
        custom-color-badge
************************************/
  
  .badge-info {
    color: #fff !important;
    background-color: var(--cyan) !important;
  }
  
  .badge-success {
    color: #fff !important;
    background-color: var(--teal) !important;
  }
  
  .badge-danger {
    color: #fff !important;
    background-color: var(--red) !important;
  }
  
  .badge-orange {
    color: #fff !important;
    background-color: var(--orange) !important;
  }
  
  .badge-primary {
    color: black !important;
    background-color: var(--primary) !important;
  }
  
  .badge-warning {
    color: black !important;
    background-color: var(--yellow) !important;
  }
  