@import '../../Assets/Styles/theme.css';

/************************************
               signIn
************************************/
.singin-card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
}
.singin-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}
.singin-card-body-form h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1.7rem;
}
.singin-card-body-form {
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    transition: background 0s ease-out 0s;
    text-align: center;
}
.singin-form-group {
    margin-bottom: 25px;
}
.singin-form-group-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.singin-form-group-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.singin-form-control{
    position: relative;
    display: block;
    min-height: 1.3125rem;
}
.signin-form-control-label {
    font-weight: 400;
    width: 100%;
    margin-left: 10px;
}
.singin-form-group-forgot {
    margin-left: auto;
} 
.singin-form-group-forgot a {
    color: var(--gray) !important;
}
.invoice-card-body-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.invoice-card-body-lefttext {
    display:flex;
    justify-content: flex-start;
}
.invoice-card-body-righttext {
    display:flex;
    justify-content: flex-end;
    text-align: right;
}
.invoice-card-body-righttext-h3 {
    margin-bottom: 0.5rem !important;
}
.invoice-card-body-righttext h4{
    margin-top: 0;
    font-weight: 700;
}
.invoice-card-body-righttext-b {
    font-weight: 500 !important;
    font-size: 14px !important;
}
.invoice-card-address-right-p {
    color: var(--gray);
    margin-left: 5px;
    line-height: 1.4;
}
.invoice-card-address-right-bottom-p {
    margin-top: 30px;
}
.invoice-card-address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
.invoice-card-title {
    color: var(--red) !important;
    font-weight: 500;
}
.invoice-card-address-p {
    color: var(--gray);
    margin-left: 5px;
    margin-top: -20px;
    line-height: 1.4;
}

/************************************
               footer
************************************/
.invoice-card-body-footer-righttext {
    text-align: right;
    margin-top: 30px;
}
.invoice-card-body-footer-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.invoice-card-body-footer-righttext-h3 {
    margin-bottom: 0 !important;
}
.invoice-card-body-footer-print {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.invoice-card-body-footer-print-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
}




/************************************
           logincard
************************************/
/* .login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
    @media(max-width: 767px){
        position:relative;
        overflow: hidden;
    }
    .login-box {    
            width: 400px;
            margin: 0 auto;
        @media(max-width: 767px){
            width: 90%;
            margin: 0 auto;
            .social {
                display: block;
                margin-bottom: 30px;
            }
        }
    }
    h3 {
        margin-top: 0 !important;
    }
    i {
        font-size: 14px;
    }
    button.btn.btn-block.btn-lg.btn-info.btn-rounded {
        width: 100%;
    }
    button.btn.btn-primary.btn-lg.btn-block.text-uppercase.waves-effect.waves-light {
        width: 100%;
    }
}


.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: linear-gradient(#fb9678, #fb9678), linear-gradient(#e9ecef, #e9ecef) !important;
    border: 0 none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    float: none !important;
}
.form-material .form-control.focus, .form-material .form-control:focus {
    background-size: 100% 2px, 100% 1px;
    outline: 0 none;
    transition-duration: 0.3s;
}

#recoverform {
    display: none;
} */