@import '../../Assets/Styles/theme.css';

.profile-timeline-row {
    display: flex;
    flex-wrap: wrap;
}
.profile-timeline {
    position: relative;
    padding-left: 40px;
    margin-right: 10px;
    border-left: 1px solid #e9ecef;
    margin-left: 30px;
}
.profile-timeline-left-image {
    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
}
@media (max-width: 767px){
.profile-timeline-image-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    }
}
@media (min-width: 768px) {
    .profile-timeline-image-row {
        display:grid;
        grid-template-columns:2fr 2fr;
    }
  }
  @media (min-width: 1000px) {
    .profile-timeline-image-row {
        display: flex;
    }
  }
.profile-timeline-date{
    font-size: 12px;
    font-weight: 300;
    color:var(--gray);
    margin-left: 5px;
}
.profile-timeline-text {
    width: 100%;
    margin-bottom: 30px;
}
.profile-timeline-text a {
    font-size: 14px;
    margin-top: 0;
    font-weight: 300;
    color: var(--gray-extra-dark);
}
.profile-timeline-text-update {
    max-height: 66px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
}
.profile-timeline-comment {
    max-height: 66px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
}
.profile-timeline-contents {
    margin-top: 10px;
}
.profile-timeline-updateWhere {
    color: var(--primary) !important;
    font-weight: 400 !important;
}
.profile-timeline-updateWhere:hover {
    color: var(--primary-dark) !important;
}
.profile-timeline-footer {
    display: flex;
}
.profile-timeline-img-div {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}
.profile-timeline-comment-div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.profile-timeline-comments-right {
    margin-left: 10px;
}
.profile-timeline-img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
    vertical-align: middle;
    border-style: none;
}
.profile-timeline-action-icons {
    display: flex;
    font-size: 12px;
}
.profile-timeline-action-icons a:link {
    vertical-align: middle;
    color: var(--gray-extra-dark);
    margin-top: 0;
    margin-bottom: 0;
}
.profile-timeline-footer-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.profile-timeline-footer-icon-p:hover {
    color:var(--primary);
}
.profile-timeline-action-icons i {
    font-size: 14px;
}
.profile-timeline-action-icons p {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.profile-timeline-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* active */
.comment-text.active .comment-footer .action-icons, .comment-text:hover .comment-footer .action-icons {
    visibility: visible;
}
.comment-text .comment-footer .action-icons {
    padding: 10px 0;
    display: flex;
    padding: 10px 0;
    margin-left: 10px;
    margin-top:-5px;
}

@media (max-width: 767px){
    .comment-text .comment-footer .action-icons {
        padding: 10px 0;
        display: flex;
        padding: 10px 0;
        margin-top: 30px;
        margin-left: -157px;
    }
}
.profile-timeline-blockquote {
    border-left: 5px solid #fb9678;
    border: 1px solid #e9ecef;
    padding: 15px;
    margin: 0 0 1rem;
    margin-top: 10px;
    font-weight: 300;
}