@import '../../../Assets/Styles/theme.css';

.widgetsubscribe-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.widgetsubscribe-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}
.widgetsubscribe-card-title {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

.widgetsubscribe-input {
    position: relative;
    margin-bottom: 10px;
    height: auto;
    position: relative;
}
.widgetsubscribe-submit {
    display: flex;
    justify-content: flex-start;
}