/************************************
            table
************************************/
.overview-table-tr > td{
    padding: 1rem;
    vertical-align: top;
    border: 0px;
    border-top: 1px solid #dee2e6;
    white-space: nowrap;
    font-weight: 300;
} 

.overview-table-tr > td:first-child {
    text-align: center;
}
.overview-table-tr > td:nth-child(1) {
    white-space: nowrap;
    text-overflow: clip;
}
.overview-table-tr > td:nth-child(3) {
    white-space: nowrap;
    text-overflow: clip;
}
.overview-table-tr > td > span {
    font-size: 14px;
    font-weight: 400;
}

