@import '../../Assets/Styles/theme.css';

/************************************
        Pricing card & header
************************************/

.regular-price-card-body-form h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1.7rem;
}
.regular-price-card-body-plan {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 0 15px;
}
.regular-price-card-body-plan-list {
    padding: 0;
}
.regular-price-card-pricingbox {
    position: relative;
    text-align: center;
    margin-top: 30px;
}
.regular-price-card-pricingbox-body {
    border-radius: 0px;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    border-bottom: 5px solid rgba(120, 130, 140, 0.13);
    vertical-align: middle;
    padding: 30px 0;
    position: relative;
}
.regular-price-card-title-h2 {
    position: relative;
    font-size: 56px;
    margin: 20px 0 10px;
    font-weight: 500;
}
.regular-price-card-title-h4 {
    margin-top: 0;
}
.regular-price-card-title-span {
    position: absolute;
    font-size: 15px;
    top: -10px;
    margin-left: -10px;
}
.regular-price-card-title-p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/************************************
          Pricing content
************************************/
.regular-price {
    padding: 20px 0;
    border-top: 1px solid var(--border-bottom-color);
    display: flex;
    justify-content: center;
}
.regular-price-btn {
    padding: 20px 0;
    border-top: 1px solid var(--border-bottom-color);
    display: flex;
    justify-content: center;
}