@import '../../../Assets/Styles/theme.css';

/************************************
       sales overview ,table
************************************/

.salestable-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.salestable-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}
.salestable-table {
    font-size: 14px;
    font-weight: 300;
}
.salestable-card-title {
    position: relative;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.salestable-card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #6c757d;
    font-size: 14px;
    margin-top: -0.375rem;
}
.salestable > h5 {
    font-size: 16px;
    margin-top: 0;
}   
.salestable-table > th {
    font-weight: 500;
}
.salestable-table > td .sales-price {
    font-size: 14px;
}

.salestable-form-control {
    color: var(--gray-extra-dark);
    min-height: 38px;
    background-color: #fff;
    border: 1px solid #e9ecef;
    font-size: 0.875rem;
    width: 100%;
    height: calc(2.0625rem + 2px);
    overflow: auto;
    resize: none;
    background-clip: padding-box;
    margin-bottom: 0;
}
.salestable-form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/************************************
         table-section2
************************************/

.salestable-mid-card-body {
    background-color: #e9ecef;
}
.salestable-mid-card-title {
    font-size: 24px;
}
.salestable-mid-card-content {
    margin-top: 0;
    font-weight: 300;
}
.salestable-mid-card-price {
    text-align: right;
    align-self: center;

}
.salestable-card-option {
    margin-left: auto;
}    


/************************************
                table
************************************/
    
    .table th, .table thead th {
        font-weight: 500;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid var(--btn-border-color);
    }
    .table td, .table th {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid var(--btn-border-color);
    }
    .table.no-border tbody td {
        border: 0px;
    }
    
/************************************
        custom-color-text
************************************/
  
  .text-danger {
    color: var(--red) !important;
  }
  
  .text-success {
    color: var(--teal) !important;
  }
  
  .text-info {
    color: var(--info) !important;
  }
  
  .text-blue {
    color: var(--blue) !important;
  }
  
  .text-orange {
    color: var(--primary) !important;
  }
  
  .text-cyan {
    color: var(--cyan) !important;
  }
  
  .text-purple {
    color: var(--purple) !important;
  }
  
  .text-green {
    color: var(--teal) !important;
  }
  
  .text-white {
    color: var(--white) !important;
  }
    