@import '../../../Assets/Styles/theme.css';
.timeline-card-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.timeline-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px;
  margin-bottom: 20px;
}
.timeline-card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.timeline-card-ul {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}
.timeline-card-ul:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #e9ecef;
}
@media (max-width: 767px){
  .timeline-card-ul:before {
    left: 40px;
  }
}
