@import '../../../Assets/Styles/theme.css';

.widgetprofile-card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

