@import '../../../Assets/Styles/theme.css';

.widgettodolist-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.widgettodolist-card-body {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}
.widgettodolist-card-title {
    align-self: center;
    position: relative;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}
.widgettodolist-card-title > h5 {
    margin-bottom: 0;
}

.widgettodolist-widgets {
    position: relative;
    margin-bottom: 10px;
    position: relative;
}