@import '../../Assets/Styles/theme.css';

.cardwidgettotalearning-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}
.cardwidgettotalearning-row > img{
    width: 30px;
    height: 30px;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.cardwidgettotalearning-row > h5{
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

