@import '../../../Assets/Styles/theme.css';

.profile-nav {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.profile-nav-timeline-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 1.25rem;
}
.profile-nav-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
}
.profile-nav-tabs {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    padding: 15px 0;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid var(--btn-border-color);
}
.profile-nav-tabs li a {
    font-size: 14px;
    font-weight: 300;
}
.profile-nav-item {
    margin-bottom: -1px;
}
.profile-nav-link.active {
    color: #4F5467;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.profile-nav-link {
    border: 0px;
    padding: 15px 20px;
    color: var(--gray-m-dark);
}
.profile-nav-link.active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}
.profile-nav-card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
}







  /************************************
              tab-content
  ************************************/
  .profile-nav-tab-content > .active {
    display: block;
  }
  
  .profile-nav-tab-content > .tab-pane {
    display: none;
  }
  
  .profile-nav-tab-content > .active {
    display: block;
  }
  
  .profile-nav-tab-pane h5 {
    font-size: 16px;
  }
  
  .profile-nav-textarea.form-control {
    height: auto !important;
  }
  
  /************************************
            profiletimelien
  ************************************/
  .profile-nav-profiletimeline {
    position: relative;
    padding-left: 40px;
    margin-right: 10px;
    border-left: 1px solid #e9ecef;
    margin-left: 30px;
  }
  
  .profile-nav-profiletimeline .sl-item {
    margin-top: 8px;
    margin-bottom: 30px;
  }
  
  .profile-nav-profiletimeline .sl-left {
    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
  }
  
  .profile-nav-profiletimeline .sl-left img {
    max-width: 40px;
  }
  
  .profile-nav-profiletimeline .sl-date {
    font-size: 12px;
    color: var(--gray);
  }