@import '../../Assets/Styles/theme.css';

.cardRecentcomments-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.cardRecentcomments-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}
.cardRecentcomments-card-title {
    position: relative;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

/************************************
          comment-widgets
************************************/
.comment-widgets {
    position: relative;
    margin-bottom: 10px;
    height: 630px;
    position: relative;
}
.comment-widgets .comment-row {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 14px;
}
.comment-widgets .comment-row:hover {
    background: #f8f9fa;
}

.comment-widgets .comment-row .comment-row-image {
    padding: 0.5rem;
}

.comment-text {
    padding: 14px 15px 14px 20px;
    width: 100%;
}
.comment-text h5 {
    font-size: 16px;
    margin-top: 0;
}
.comment-text p {
    max-height: 66px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 300;
}
.comment-footer {
    display: flex;
}

.comment-footer .action-icons {
    font-size: 12px;
    visibility: hidden;
}
.comment-footer-date{
    font-size: 14px;
    font-weight: 300;
    color:var(--gray)

}
.comment-footer .action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #6c757d;
}
.comment-footer .action-icons i {
        font-size: 14px;
}

/* active */
.comment-text.active .comment-footer .action-icons, .comment-text:hover .comment-footer .action-icons {
    visibility: visible;
}
.comment-text .comment-footer .action-icons {
    padding: 10px 0;
    display: flex;
    padding: 10px 0;
    margin-left: 10px;
    margin-top:-5px;
}

@media (max-width: 767px){
    .comment-text .comment-footer .action-icons {
        padding: 10px 0;
        display: flex;
        padding: 10px 0;
        margin-top: 30px;
        margin-left: -157px;
    }
}
.comment-footer .action-icons {
    visibility: visible;
    
}
.comment-footer .action-icons > a {
    margin-right: 10px;
    
}
.icon-hover-color:hover {
    color: #01c0c8 !important;
}

/* scrollbar */
.ps>.ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    bottom: 0px;
    height: 6px;
}

.ps>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    bottom: 2px;
    height: 6px;
}
