@import '../../Assets/Styles/theme.css';

.profile-card-body-bottom { 
    padding: 1.25rem;
    margin-top: 15px;
}
.profile-iframe {
    width: 100%;
    height: 150px;
    border: 0;
}
.profile-card-small {
    color:var(--gray);
    font-size: 80%;
    font-weight: 400;
}
.profile-card-body-bottom h6 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}
.profile-card-body-bottom-button {
    display: flex;
}
.profile-card-body-bottom-button > div {
    margin-right: 5px;
}