@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
/************************************
           root color
************************************/

:root {
  --topbar-bg-color: #4F5467;
  --navbar-bg-header: #fff;
  --navbar-menu-icon-color: rgba(255, 255, 255, 0.5);
  --border-bottom-color: #e9ecef;
  --btn-border-color: #dee2e6;
  --social-profile-bg-over-color:rgba(56, 83, 161, 0.7);
  --nestable-item-color: #979898;
  --nestable-item-border-color:#e5e5e5;
  --nestable-item-bg-color:#fafafa;
  --nestable-dd-handle-hover:#317eeb;
  --a-color: #fb9678;
  --black: #212529;
  --blue:#03a9f3 !important;
  --blue-light:#1eaaf0;
  --blue-extra-light: #99dbf8;
  --indigo:#6610f2;
  --megna: #01c0c8;
  --purple:#ab8ce4 !important;
  --pink:#e83e8c;
  --red:#E26B78 !important;
  --yellow:#fec107;
  --green:#00c292;
  --teal:#20c997 !important;
  --cyan:#1FC0C7 !important;
  --white:#fff;
  --gray-light: #8d97ad;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --gray-m-dark: #212529;
  --gray-extra-dark:#1f2022;
  --orange:#F9967C;
  --white:#fff;
  --primary:#fb9678 !important;
  --primary-dark:#f95c2e;
  --secondary:#f8f9fa !important;
  --success:#00c292;
  --info:#03a9f3;
  --warning:#fec107;
  --danger:#e46a76;
  --light:#f8f9fa;
  --dark:#343a40;
  --hover-background-color:#009c75;
  --hover-border-color: #008f6c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/************************************
        timeline-badge
************************************/
.timeline-badge.success {
  background-color: var(--teal) !important;
}

.timeline-badge.warning {
  background-color: var(--yellow) !important;
}

.timeline-badge.danger {
  background-color: var(--red) !important;
}

.timeline-badge.info {
  background-color: var(--cyan) !important;
}

/************************************
        custom-color-alert
************************************/
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-rounded {
  border-radius: 60px !important;
}

.alert-success {
  color: #00654c !important;
  background-color: #ccf3e9 !important;
  border-color: #b8eee0 !important;
}

.alert-danger {
  color: #77373d !important;
  background-color: #fae1e4 !important;
  border-color: #f7d5d9 !important;
}

.alert-warning {
  color: #846404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

.alert-info {
  color: #02587e !important;
  background-color: #cdeefd !important;
  border-color: #b8e7fc !important;
}

/************************************
        custom-color-label
************************************/
.label-info {
  background-color: var(--blue) !important;
}

.label-success {
  background-color: var(--teal) !important;
}

.label-danger {
  background-color: var(--red) !important;
}

.label-primary {
  background-color: var(--primary) !important;
}

.label-warning {
  background-color: var(--yellow) !important;
}

.label-megna {
  background-color: var(--megna) !important;
}

/************************************
        custom-color-btn
************************************/
.btn-success {
  color: var(--white) !important;
  border-color: var(--teal) !important;
  background-color: var(--teal) !important;
}

.btn-info {
  color: var(--white) !important;
  border-color: var(--blue-light) !important;
  background-color: var(--blue-light) !important;
}

.btn-danger {
  color: var(--white) !important;
  border-color: var(--red) !important;
  background-color: var(--red) !important;
}

.btn-warning {
  color: var(--white) !important;
  border-color: var(--yellow) !important;
  background-color: var(--yellow) !important;
}

.btn-primary {
  color: var(--white) !important;
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.btn-facebook {
  color: var(--white) !important;
  background-color: #3b5998 !important;
}

.btn-googleplus {
  color: var(--white) !important;
  background-color: #dd4b39 !important;
}

/************************************
      custom-color-img-round
************************************/
.round-primary {
  background: var(--primary) !important;
}

.round-success {
  background: var(--teal) !important;
}

.round-warning {
  background: var(--yellow) !important;
}

.round-danger {
  background: var(--red) !important;
}

/************************************
                all
************************************/
* {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* :focus {
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #edf1f5;
  line-height: 23px;
}

body .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: none;
}

body article, body aside, body figcaption, body figure, body footer, body header, body hgroup, body main, body nav, body section {
  display: block;
}

body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
}

body h4 {
  font-size: 18px;
}

body .h5, body h5 {
  font-size: 16px;
}

body .font-light {
  font-weight: 300;
}

body .font-medium {
  font-weight: 500;
}

body .font-20 {
  font-size: 20px;
}

body a {
  color: var(--a-color);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

body a.link {
  color: var(--gray-extra-dark);
}

@media (min-width: 768px) {
  body aside {
    display: block !important;
  }
}

body b, body strong {
  font-weight: bolder;
}

body blockquote {
  border-left: 5px solid var(--primary);
  border: 1px solid var(--border-bottom-color);
  padding: 15px;
}

body blockquote {
  margin: 0 0 1rem;
}

body button, body select {
  text-transform: none;
}

body [type=button], body [type=reset], body [type=submit], body button {
  -webkit-appearance: button;
}

body button, body input, body optgroup, body select, body textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body button {
  border-radius: 0;
}

body button button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

body code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

body code, body kbd, body pre, body samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

body dl, body ol, body ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

body li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body a:focus, body a:hover {
  text-decoration: none !important;
}

/* body a:hover {
  color: var(--primary) !important;
  text-decoration: underline;
} */

body svg {
  overflow: hidden;
  vertical-align: middle;
}

body .align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

body .border-0 {
  border: 0 !important;
}

body .col, body .col-1, body .col-10, body .col-11, body .col-12, body .col-2, body .col-3, body .col-4, body .col-5, body .col-6, body .col-7, body .col-8, body .col-9, body .col-auto, body .col-lg, body .col-lg-1, body .col-lg-10, body .col-lg-11, body .col-lg-12, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-auto, body .col-md, body .col-md-1, body .col-md-10, body .col-md-11, body .col-md-12, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-auto, body .col-sm, body .col-sm-1, body .col-sm-10, body .col-sm-11, body .col-sm-12, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-auto, body .col-xl, body .col-xl-1, body .col-xl-10, body .col-xl-11, body .col-xl-12, body .col-xl-2, body .col-xl-3, body .col-xl-4, body .col-xl-5, body .col-xl-6, body .col-xl-7, body .col-xl-8, body .col-xl-9, body .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 576px){
  .col-sm-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}
@media (min-width: 768px){
  .col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
}
body .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}


body .d-none {
  display: none !important;
}

@media (min-width: 768px) {
  body .d-md-block {
    display: block !important;
  }
  body .d-md-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  body .d-lg-block {
    display: block !important;
  }
}


body .display-5 {
  font-size: 3rem;
}

body .no-border {
  border: none;
}

body .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}


body .btn {
  display: inline-block;
  font-weight: 400;
  color: var(--gray-extra-dark);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
}


body .btn-secondary {
  color: var(--gray-m-dark);
  background-color: #f8f9fa;
  border-color: var(--btn-border-color);
}

body .btn-secondary:hover {
  color: var(--gray-m-dark);
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

body .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

body .btn-success.focus, body .btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5) !important;
}

body .btn-success:hover {
  color: #fff;
  background-color: var(--hover-background-color) !important;
  border-color: var(--hover-border-color) !important;
}

body .btn-link {
  font-weight: 400;
  color: var(--primary);
}

body .btn-link:hover {
  color: var(--primary-dark);
  text-decoration: underline;
}

body .btn-rounded {
  border-radius: 60px;
  padding: 7px 18px;
}

body .btn-rounded.btn-lg {
  padding: .75rem 1.5rem;
}

body .btn:focus, body .btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .btn-group-sm > .btn-rounded.btn, body .btn-rounded.btn-sm {
  padding: .25rem .5rem;
  font-size: 12px;
}

body .btn-success:not(:disabled):not(.disabled).active:focus, body .btn-success:not(:disabled):not(.disabled):active:focus, body .show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5);
}

body .btn-success:not(:disabled):not(.disabled).active, body .btn-success:not(:disabled):not(.disabled):active, body .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #008f6c;
  border-color: #008262;
}

body .btn-group-sm > .btn-rounded.btn, body .btn-rounded.btn-sm {
  padding: .25rem .5rem;
  font-size: 12px;
}

body .message-box .message-widget a .mail-contnet .mail-desc, body .message-box .message-widget a .mail-contnet .time {
  font-size: 12px;
  display: block;
  margin: 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--gray-extra-dark);
  white-space: nowrap;
  font-weight: 300;
}

body .accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

body .accordion .card {
  overflow: hidden;
}

body .accordion .card .card-header {
  margin-bottom: 0;
}

body .dropdown, body .dropleft, body .dropright, body .dropup {
  position: relative;
}

body .mega-dropdown {
  position: static;
  width: 100%;
}

body .mega-dropdown ul {
  padding: 0;
}

body .mega-dropdown ul li {
  list-style-type: none;
}

body .mega-dropdown .carousel-item .container {
  padding: 0;
}

body .mega-dropdown .dropdown-menu {
  width: 100%;
  padding: 30px;
  margin-top: 0;
}

@media (max-width: 767px) {
  body .mega-dropdown .dropdown-menu {
    height: 480px;
    overflow: auto;
  }
}

body .dropdown-menu.show {
  display: block;
}

body .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.65rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: var(--gray-m-dark);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
