@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
/************************************
           root color
************************************/

:root {
  --topbar-bg-color: #4F5467;
  --navbar-bg-header: #fff;
  --navbar-menu-icon-color: rgba(255, 255, 255, 0.5);
  --border-bottom-color: #e9ecef;
  --btn-border-color: #dee2e6;
  --social-profile-bg-over-color:rgba(56, 83, 161, 0.7);
  --nestable-item-color: #979898;
  --nestable-item-border-color:#e5e5e5;
  --nestable-item-bg-color:#fafafa;
  --nestable-dd-handle-hover:#317eeb;
  --a-color: #fb9678;
  --black: #212529;
  --blue:#03a9f3 !important;
  --blue-light:#1eaaf0;
  --blue-extra-light: #99dbf8;
  --indigo:#6610f2;
  --megna: #01c0c8;
  --purple:#ab8ce4 !important;
  --pink:#e83e8c;
  --red:#E26B78 !important;
  --yellow:#fec107;
  --green:#00c292;
  --teal:#20c997 !important;
  --cyan:#1FC0C7 !important;
  --white:#fff;
  --gray-light: #8d97ad;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --gray-m-dark: #212529;
  --gray-extra-dark:#1f2022;
  --orange:#F9967C;
  --white:#fff;
  --primary:#fb9678 !important;
  --primary-dark:#f95c2e;
  --secondary:#f8f9fa !important;
  --success:#00c292;
  --info:#03a9f3;
  --warning:#fec107;
  --danger:#e46a76;
  --light:#f8f9fa;
  --dark:#343a40;
  --hover-background-color:#009c75;
  --hover-border-color: #008f6c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}



/************************************
                all
************************************/
* {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* :focus {
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #edf1f5;
  line-height: 23px;
}

body .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: none;
}

body article, body aside, body figcaption, body figure, body footer, body header, body hgroup, body main, body nav, body section {
  display: block;
}

body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
}

body h4 {
  font-size: 18px;
}

body .h5, body h5 {
  font-size: 16px;
}

body .font-light {
  font-weight: 300;
}

body .font-medium {
  font-weight: 500;
}

body .font-20 {
  font-size: 20px;
}

body a {
  color: var(--a-color);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

body a.link {
  color: var(--gray-extra-dark);
}

@media (min-width: 768px) {
  body aside {
    display: block !important;
  }
}

body b, body strong {
  font-weight: bolder;
}

body blockquote {
  border-left: 5px solid var(--primary);
  border: 1px solid var(--border-bottom-color);
  padding: 15px;
}

body blockquote {
  margin: 0 0 1rem;
}

body button, body select {
  text-transform: none;
}

body [type=button], body [type=reset], body [type=submit], body button {
  -webkit-appearance: button;
}

body button, body input, body optgroup, body select, body textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

body code, body kbd, body pre, body samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

body dl, body ol, body ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

body li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body a:focus, body a:hover {
  text-decoration: none !important;
}

body svg {
  overflow: hidden;
  vertical-align: middle;
}

body .border-0 {
  border: 0 !important;
}

body .col, body .col-1, body .col-10, body .col-11, body .col-12, body .col-2, body .col-3, body .col-4, body .col-5, body .col-6, body .col-7, body .col-8, body .col-9, body .col-auto, body .col-lg, body .col-lg-1, body .col-lg-10, body .col-lg-11, body .col-lg-12, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-auto, body .col-md, body .col-md-1, body .col-md-10, body .col-md-11, body .col-md-12, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-auto, body .col-sm, body .col-sm-1, body .col-sm-10, body .col-sm-11, body .col-sm-12, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-auto, body .col-xl, body .col-xl-1, body .col-xl-10, body .col-xl-11, body .col-xl-12, body .col-xl-2, body .col-xl-3, body .col-xl-4, body .col-xl-5, body .col-xl-6, body .col-xl-7, body .col-xl-8, body .col-xl-9, body .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 576px){
  .col-sm-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}
@media (min-width: 768px){
  .col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
}

body .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}


body .btn-success.focus, body .btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5) !important;
}

body .btn-success:hover {
  color: #fff;
  background-color: var(--hover-background-color) !important;
  border-color: var(--hover-border-color) !important;
}


body .btn:focus, body .btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}


body .btn-success:not(:disabled):not(.disabled).active:focus, body .btn-success:not(:disabled):not(.disabled):active:focus, body .show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 203, 162, 0.5);
}

body .btn-success:not(:disabled):not(.disabled).active, body .btn-success:not(:disabled):not(.disabled):active, body .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #008f6c;
  border-color: #008262;
}

