@import '../../../Assets/Styles/theme.css';

.todolist-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border: 0px solid transparent;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.todolist-card-body {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}
.todolist-card-title {
    align-self: center;
    position: relative;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}
.todolist-card-title > h5 {
    margin-bottom: 0;
}

.todolist-comment-widgets {
    position: relative;
    margin-bottom: 10px;
    height: 410px;
    position: relative;
}

/* scrollbar */
.ps>.ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    bottom: 0px;
    height: 6px;
}

.ps>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    bottom: 2px;
    height: 6px;
}
